.navbarMobile{
    border: 2px solid;
    width:705px;
}

.back{
    width: 50px;
}

.openMenu{
    z-index: 15;
    position:fixed;
    left: 25px;
    top: 300px;
    color: #1890ff;
    opacity: 0.3;
    transition: 0.3s;
}

.openMenu:hover{
    opacity: 0.7;
}