.title{
    font-size: 36px;
    color: #1890ff;
    margin-bottom: 1vw;
}

.error{
    border-radius:5px ;
    display: flex;
    justify-content: center;
    padding: 5px;
    color: red;
    width: 565px;
    margin-left: 14vw;
    border: 1px solid red;
}

.inputItem{
    margin-top: 1vw;
    width: 40vw;
}

.inputItem span{
    font-size: 14px;
}

.inputItemTextarea{
    width: 40vw;
    margin-bottom: 2vw;
}

.myPost{
    width: 40vw;
    margin-bottom: 2vw;
}

.form{
    padding-top: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

.formItemInput{
    width: 50vw;
}

.signUpButton{
    margin-top: 2vw;
   margin-bottom: 2vw;
}


.wrapperFormData{
    width: 280px;
}

.endForm{
    background-color: #ffffff;
    height:100%;
}

.commentsLike{
    opacity: 0.6;
    font-size: 12px;
    display:flex;
    justify-content: space-between;
    margin-top: 4vw;
    margin-bottom: -20px;
}


@media (min-width: 0)and (max-width:768.9px) {
    .inputItemTextarea{
        width:100%;
    }
    .myPost{
         width: 100%;
     }
}