.dialogs{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 2vw;
}

.dialogsMonitor{
    overflow:scroll;
    display: inline-block;
    vertical-align: bottom;
    border-top: 1px solid #367ccd;
    padding-top: 10px;
    height: 320px;
    width: 100%;
}

.dialogsSending{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 1vw;
}

.dialogsMonitor::-webkit-scrollbar-thumb{
    border-left: 5px solid #c1c1c1;
}

.dialogsMonitor::-webkit-scrollbar{
    width: 5px;
}

.dialogsUsers{
    width: 30%;
    /*border: 1px solid #367ccd;*/
}

.userMessages{
    font-size: 14px;
    margin: 15px;
    border-radius: 8px;
    border: 1px solid #ddf7ff;
    transition: 0.2s;
    cursor:pointer;
    color: #3b086e;
    padding: 5px;
}

.userMessages:hover{
    background-color: #ddf7ff;
    color: #1890ff;
}

.messagesForm{
height: 50px;
}

.titeUserSendingMessage{
    font-weight: bold;
    color:#3b086e;
    font-size: 16px;
    margin: 0.5vw;
    margin-left: 1.5vw;
}

.messagesMonitor{
    display: block;
    vertical-align: bottom;
    margin: auto;
    width: max-content;
    max-width: 25.5vw;
     overflow: hidden;
    border: 1px solid;
    border-radius: 8px;
    background-color: #1890ff;
    color: white;
    padding: 5px;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.ownerMessage{
    font-weight: bold;
    font-size: 14px;
    color: #8aedfd;
}

.avatar{
}

@media (min-width: 0)and (max-width:1199.9px) {
    .dialogsUsers{
        overflow: hidden;
        width:25%;
    }
    .dialogsSending{
        width: 75%;
    }
    .avatar{
        display: none;
    }
    .userMessages{
        margin:5px;
        overflow: hidden;
    }
}
